<?xml version="1.0" ?>
<launch>
	<!-- IMU -->
	<node pkg="rt_usb_9axisimu_driver" type="rt_usb_9axisimu_driver" name="rt_usb_9axisimu_driver" required="true" output="screen">
		<param name="port" value="/dev/ttyACM-RT9AXIS" />
		<param name="frame_id" value="imu_link" />
		<remap from="/imu/data_raw" to="/rt9axis/imu/data_raw" />
		<remap from="/imu/mag" to="/rt9axis/imu/mag" />
		<remap from="/imu/temperature" to="/rt9axis/imu/temperature" />
	</node>
</launch>
