<?xml version="1.0" ?>
<launch>
	<!--     navsat transform      -->
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
		<rosparam command="load" file="$(find sick_wagen)/launch/stepbystep/100_test_mori/navsat_all.yaml" />
		<remap from="/gps/fix" to="ublox/fix" />
		<remap from="/odometry/filtered" to="/odometry/filtered" />
		<!-- <remap from="/imu/data" to="/imu/data_raw" />
		-->
	</node>

	<!--  Robot Pose EKF  -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
		<rosparam command="load" file="$(find sick_wagen)/launch/stepbystep/100_test_mori/ekf_odom_imu.yaml" />
		<remap from="/odometry/filtered" to="/odometry/filtered" />
		<remap from="/cmd_vel" to="/whill/controller/cmd_vel" />
	</node>
	<!--
-->
</launch>
