<?xml version="1.0" ?>
<launch>
	<!-- GPS to odometry  -->
	<!--
	<node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
		<remap from="odom" to="/odometry/gps"/>
		<remap from="fix" to="/ublox/fix" />
		<param name="rot_covariance" value="99999" />
		<param name="frame_id" value="base_link" />
	</node>
	-->

	<!--     navsat transform      -->
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
		<rosparam command="load" file="$(find sick_wagen)/launch/stepbystep/100_test_mori/navsat_transform_template.yaml" />
		<remap from="/gps/fix" to="/ublox/fix" />
		<remap from="/odometry/filtered" to="/odometry/filtered" />

	</node>
	<!--  Robot Pose EKF  -->

		<!--		     
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="odom"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="false"/>
		<param name="vo_used" value="true"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
		<remap from="updatedOdomGPS" to="gps_odom" />
		<remap from="odom" to="/whill/odom" />
	</node>

				     -->
	<!--  robot_localization  -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
		<rosparam command="load" file="$(find sick_wagen)/launch/stepbystep/100_test_mori/ekf_template.yaml" />
		<remap from="/odometry/filtered" to="/odometry/filtered" />
	</node>

</launch>
