<?xml version="1.0" ?>
<launch>
	<!--     EKF     -->
	<include file="$(find sick_wagen)/launch/stepbystep/100_test_mori/ekf.launch" />

	<!--		 map		-->
	<arg name="map_file" default="$(find sick_wagen)/launch/stepbystep/100_test_mori/map/map_1117.yaml"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!--		amcl node		-->
	<include file="$(find sick_wagen)/launch/stepbystep/100_test_mori/amcl.launch" />
	<!--		move base		-->
	 <arg name="cmd_vel_topic" default="cmd_vel_move_base" />
	 <!-- <arg name="cmd_vel_topic" default="cmd_vel_nav" /> -->
	<arg name="odom_topic" default="odom" />
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" args="/cmd_vel:=/whill/controller/cmd_vel">
		<rosparam file="$(find sick_wagen)/config/config1007/move_base_params.yaml" command="load" />
		<rosparam file="$(find sick_wagen)/config/config1007/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find sick_wagen)/config/config1007/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find sick_wagen)/config/config1007/local_costmap_params_amcl.yaml" command="load" />
		<rosparam file="$(find sick_wagen)/config/config1007/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find sick_wagen)/config/config1007/dwa_local_planner_params.yaml" command="load" />
		<!-- prevent the occurrence of the error, "control loop missed its desired rate of ..."-->
		<param name="controller_frequency" value="5.0" />
		<remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
		<remap from="odom" to="odometry/filtered" />
	</node>
	<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find sick_wagen)/launch/stepbystep/100_test_mori/amcl.rviz"/>
</launch>
